.entry-card {
    border: solid 2px var(--dark-color);
    border-radius: 6px;
    background-color: #c0bfbc;
    color: var(--dark-color);

    display: flex;
    flex-direction: column;
    width: 18em;
    height: calc(3em + 17px);
    gap: 1px;

    overflow: hidden;
    transition: filter, background-color 220ms;
}

.entry-card > div {
    padding: 3px 10px 3px 3px;
    background-color: #f3f1ed;
    transition: background-color 220ms;
}

.entry-card > div > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entry-card > div > div:after {
    content: "\200b";
}

.entry-card > div:nth-child(2) {
    filter: brightness(94%) saturate(130%);
}

.entry-card > div:only-child {
    height: 100%;
    font-size: 1.5em;
    line-height: calc(2em + 7px);
}

.entry-card.active > div {
    /* background-color: #cfdef5; */
    background-color: #fcf1c0;
    /* background-color: #ebd7f7; */
}

.entry-card.selected > div {
    background-color: #d7f7da;
}

.custom-card.clickable {
    cursor: pointer;
}

.custom-card.clickable:hover, .custom-card.clickable:active {
    filter: brightness(92%) saturate(120%);
}

.custom-card.clickable.deletable:hover,
.custom-card.clickable.deletable:active {
    background-color: #D88;
}

.custom-card.clickable.deletable:hover > *,
.custom-card.clickable.deletable:active > * {
    background-color: #FAA;
}

.entry-card.clickable.selectable:hover,
.entry-card.clickable.selectable:active {
    background-color: #add1b0;
}

.entry-card.clickable.selectable:hover > *,
.entry-card.clickable.selectable:active > * {
    background-color: #d7f7da;
}

.entry-card-wrapper {
    position: relative;
}

.entry-card-wrapper .tag {
    position: absolute;
}

.entry-card-wrapper .tag.top-tag {
    bottom: 50%;
    right: 100%;
}

.entry-card-wrapper .tag.bottom-tag {
    top: 100%;
}

.left-column .entry-card-wrapper .tag.after-tag {
    left: calc(100% + 1px);
}

.right-column .entry-card-wrapper .tag.after-tag {
    right: calc(100% + 1px);
}

.entry-card-wrapper:nth-child(2n) .tag.after-tag {
    top: 50%;
}

.entry-card-wrapper:nth-child(2n+1) .tag.after-tag {
    bottom: 50%;
}