.song-card {
    border: solid 2px var(--dark-color);
    border-radius: 6px;
    background-color: #282c3433;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    width: 18em;
    gap: 1px;
    overflow: hidden;
    transition: filter, background-color 220ms;
}

.song-card > div {
    padding: 3px 10px 3px 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #f3f1ed;
    transition: background-color 220ms;
}

.song-card > div:after {
    content: "\200b";
}

.song-card > div:last-child {
    filter: brightness(94%) saturate(130%);
}

.song-card.active > div {
    /* background-color: #cfdef5; */
    background-color: #fcf1c0;
    /* background-color: #ebd7f7; */
}

.song-card.selected > div {
    background-color: #d7f7da;
}

.card.clickable {
    cursor: pointer;
}

.card.clickable:hover, .card.clickable:active {
    filter: brightness(92%) saturate(120%);
}

.card.clickable.deletable:hover,
.card.clickable.deletable:active {
    background-color: #D88;
}

.card.clickable.deletable:hover > *,
.card.clickable.deletable:active > * {
    background-color: #FAA;
}

.song-card.clickable.selectable:hover,
.song-card.clickable.selectable:active {
    background-color: #add1b0;
}

.song-card.clickable.selectable:hover > *,
.song-card.clickable.selectable:active > * {
    background-color: #d7f7da;
}

.song-card-wrapper {
    position: relative;
}

.song-card-wrapper .tag {
    position: absolute;
}

.song-card-wrapper .tag.top-tag {
    bottom: 50%;
    right: 100%;
}

.song-card-wrapper .tag.bottom-tag {
    top: 100%;
}

.left-column .song-card-wrapper .tag.after-tag {
    left: calc(100% + 1px);
}

.right-column .song-card-wrapper .tag.after-tag {
    right: calc(100% + 1px);
}

.song-card-wrapper:nth-child(2n) .tag.after-tag {
    top: 50%;
}

.song-card-wrapper:nth-child(2n+1) .tag.after-tag {
    bottom: 50%;
}