* {
  box-sizing: border-box;
}

.App {
  --header-height: 100px;
  --vh100: calc(var(--vh, 1vh) * 100);
  
  background-color: #e6e3df;
  min-height: var(--vh100, 100vh);
  display: flex;
  flex-direction: column;
}

header {
  background-color: #282c34;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24pt;
  color: white;
  padding: 0 1em;
}
