* {
  box-sizing: border-box;
}

.App {
  background-color: #e6e3df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24pt;
  color: white;
  padding: 0 1em;
}
