.vote-page {
    flex: 1 0 0;
    overflow-y: auto;

    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1em;
}

.match-container .match {
    --item-gap: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--item-gap);
}

.match .song-card {
    font-size: 12pt;
    flex: 0 0 auto;
}

.match .match-connector {
    width: 60%;
    display: flex;
    align-items: center;
    gap: var(--item-gap);
}

.match .match-connector > * {
    margin: 0;
}

.match hr {
    flex: 1 0 0;
}

.match-container > p {
    margin: 0;
}

.vote-page > .action-buttons {
    display: flex;
    justify-content: space-between;
}

.vote-page .action-buttons .btn {
    width: 5em;
}

.vote-page .match-container .round-description {
    grid-column: -1 / 1;
    grid-row: -1 / 1;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .vote-page {
        padding: 4em 30%;
    }

    .vote-page .match-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;
        gap: 2em 4em;
    }

    .vote-page .match-container > .match {
        grid-column: -1 / 1;
        grid-row: 2 / 3;
    }

    .vote-page .match-container > p {
        grid-row: 1 / 2;
        text-align: justify;
    }

    .vote-page .match-container .round-description {
        padding: 0 20%;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .vote-page {
        padding: 8px;
    }

    .vote-page .match-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        user-select: none;
    }

    .vote-page .match {
        flex-wrap: wrap;
    }

    .vote-page .song-card-wrapper  {
        width: 100%;
    }

    .vote-page .song-card-wrapper .song-card {
        width: 100%;
    }
}