.home-page {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--secondary-white);
    max-height: 100%;
    overflow: auto;
}

.home-page .tournament-list {
    display: flex;
    gap: 2em;
}

.home-page h3 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 300ms;
}

.home-page .category {
    padding: 1em;
    border-radius: 1em;
    border: 2px solid #E9E9E900;
    transition: all 300ms;
}

.home-page .category:hover {
    border: 2px solid #E9E9E9;
}

.home-page .category:hover h3 {
    transform: translateX(1em);
    letter-spacing: 1.5px;
}