.login-card .card-body {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 3em;
}

.login-card h2 {
    margin-bottom: 1em;
}

.login-card h2 span {
    color: var(--primary-red);
    font-weight: bold;
}

.login-card .google-login svg {
    width: 1.8em;
    height: 1.8em;
    margin-right: 4px;

    background: white;
    border-radius: 50%;
    padding: 2px;
}