* {
    --header-height: 100px;
    /* default attempt */
    /* --primary-red: #D44;
    --primary-blue: #44D; */
    --secondary-white-rbg: 250, 253, 255;
    --secondary-white: rgb(var(--secondary-white-rbg));
    /* sunset palette from jack */
    /* --primary-red: rgb(213, 50, 7);
    --primary-blue: rgb(86, 147, 191); */
    /* test palette 1 */
    --primary-red: #d62839;
    --primary-blue: #4ba3c3;
    /* purple and green */
    /* --primary-red: #5f1488;
    --primary-blue: #76e954; */
    /* blue and orange */
    /* --primary-red: #10316B;
    --primary-blue: #E25822; */
    /* --primary-red: #0A7CF2;
    --primary-blue: #F27F0A; */
    /* --primary-red: #0D54E4;
    --primary-blue: #E49C0D; */
    /* --primary-red: #0847c7;
    --primary-blue: #E25822; */
    /* --primary-red: #035397;
    --primary-blue: #E8630A; */
    /* --primary-red: #097BF6;
    --primary-blue: #F68409; */
    --primary-red: #0059FF;
    --primary-blue: #FF8000;

    font-family: 'Lato', sans-serif;
}

.App.brackd-up {
    background-color: var(--secondary-white);
    position: relative;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    overflow: hidden;
}

.brackd-up main {
    grid-row: 2 / -1;
    background-color: var(--secondary-white);
    min-height: 100%;
    min-width: 0;
    overflow: hidden auto;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    * {
        --header-height: 80px;
    }
}