.tournament-settings-button-group label {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tournament-settings-button-group label > p {
    transform: translateY(-1px);
    margin: 0;
}