* {
    box-sizing: border-box;
    --vh100: calc(var(--vh, 1vh) * 100);
    --dark-color: #282c34;
    --header-height: 80px;
}

.App {
    background-color: #e6e3df;
    height: var(--vh100, 100vh);
    display: flex;
    flex-direction: column;

    font-family: Calibri, sans-serif;
}

main {
    background-color: #e6e3df;
}

header {    
    background-color: var(--dark-color);
    flex: 0 0 var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1em;
    z-index: 3;
}

header h1 {
    font-size: 24pt;
    font-weight: 600;
    margin: 0;
    margin-right: 3em;
    
    display: flex;
    gap: 6px;
    align-items: center;
}

header h1, header h2 {
    cursor: pointer;
    transition: all 220ms;
}

header h1 > img {
    width: 1em;
    height: 1em;
}

.profile-wrapper > img,
.login-button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

header .clickable {
    cursor: pointer;
}

header .darken-hover,
header .rotate-hover {
    transition: filter 220ms, transform 220ms;
}

header .darken-hover:hover,
header .darken-hover:focus {
    filter: brightness(68%);
}

header .rotate-hover:hover,
header .rotate-hover:focus,
header h1:hover .rotate-hover,
header h1:focus .rotate-hover {
    transform: rotate(10deg);
}

header .login-button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .login-button > svg {
    width: 75%;
    height: 75%;
}

.tournament-info {
    flex-grow: 1;
    border-left: solid 1px #556;
    padding: 12px 1em;
}

.tournament-info, .profile-wrapper {
    display: flex;
    gap: 1.5em;
    align-items: center
}

header h2 {
    margin: 0 auto 0 0;
}

.tournament-info img,
.tournament-info svg,
.profile-wrapper > svg {
    width: 2em;
    height: 2em;
}

#g_a11y_announcement {
    display: none;
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .mobile-only {
        display: none;
    }

    header .profile-wrapper {
        border-left: solid 1px #556;
        padding: 10px 1em 10px 2em;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {

    .App {
        --header-height: 50px;
    }

    header {
        font-size: 8pt;
    }

    header.with-tournament {
        --header-height: 100px;
        padding-bottom: calc(var(--header-height) / 2);
    }

    header h1 {
        font-size: 16pt;
    }

    .tournament-info {
        position: absolute;
        background-color: #7a797e;
        left: 0;
        right: 0;
        top: calc(var(--header-height) / 2);
        height: calc(var(--header-height) / 2);
        overflow: hidden;
        border-left: none;
    }

    .tournament-info h2 {
        font-size: 1.6em;
        font-weight: 600;
    }

    .tournament-info img,
    .tournament-info svg,
    .profile-wrapper > img,
    .profile-wrapper > svg,
    header .login-button {
        width: 3em;
        height: 3em;
        flex-shrink: 0;
    }
}
