/* .loading-screen-wrapper {
    position: relative;
    left
} */

.loading-screen {
    background-color: var(--dark-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 100%;
    z-index: 10;

    transition: bottom 300ms ease-in-out;
}

.loading-screen.enabled {
    bottom: 0;
}

.loading-screen > span {
    margin-bottom: var(--header-height);
}

/* Desktop */
@media only screen and (min-width: 600px) {

}

/* Mobile */
@media only screen and (max-width: 600px) {

}