.login-page {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
}

.login-page > p {
    font-size: 16pt;
    margin-top: 10%;
}

@media only screen and (min-width: 600px) {
    #credential_picker_container {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 600px) {
    #credential_picker_container {
        left: 3vw !important;
        right: 3vw !important;
        top: 50% !important;
        transform: translateY(-50%);
    }

    #credential_picker_container, #credential_picker_container > * {
        width: 94vw !important;
    }
}