.list-page {
    padding: 1.5em 6em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 24px;
}

.list-page > * {
    flex: 0 0 33.3333333%;
}

@media only screen and (max-width: 600px) {
    .list-page > * {
        flex: 0 0 100%;
    }
}

.tournament-card {
    --card-color: #f3f1ed;
    --card-hover-color: #d6d4d2;
    --card-outer-border-width: 4px;
    --card-inner-border-width: 3px;

    height: 16em;
    border: solid var(--card-outer-border-width) var(--dark-color);
    border-radius: 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.tournament-card .tournament-card-content {
    background-color: var(--card-color);
    padding: 1em;
    flex: 1 0 0;
    text-align: center;
}

.tournament-card .tournament-card-content, 
.tournament-card.create-tournament-card {
    transition: background-color 220ms;
}

.tournament-card .tournament-card-content:hover, 
.tournament-card .tournament-card-content:focus,
.tournament-card.create-tournament-card:hover,
.tournament-card.create-tournament-card:focus {
    background-color: var(--card-hover-color);
}

.tournament-card .button-row {
    height: 3.3em;
    border-top: solid var(--card-inner-border-width) var(--dark-color);
    display: flex;
    background-color: var(--dark-color);
    gap: var(--card-inner-border-width);
}

.tournament-card .button-row > * {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--card-color);
}

.tournament-card .button-row > *:hover, .tournament-card .button-row > *:focus {
    background-color: var(--card-hover-color);
}

.tournament-card .button-row img {
    height: 2.4em;
}

.tournament-card.create-tournament-card {
    justify-content: center;
}

.tournament-card.create-tournament-card > p {
    font-size: 24pt;
    font-weight: bold;
    margin: -0.5em auto 0;
}